/*
Author: Tushar Vilekar
Sources Google(images) and Wikipedia(content)
*/
.back_img{
	background-repeat: repeat;
	background-color: #000000;
}
.bigHeading{
	font-size: 800%;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Helvetica;
	text-align: center;
}
.details{
	font-family: sans-serif;
	font-size: 120%;
}
.text_content{
	color: #FFFFFF;
	font-size: 150%;
}
.img_link{
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
}
.ptrLink{
	font-size: 300%;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Helvetica;
	text-align: center;
}
.List{
	font-family: Helvetica;
	color: #FFFFFF;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.RepImage{
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
}
a{
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}